table {
    border-collapse: collapse;
   }

   td {
    width: 100px;
    height: 100px;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;

   }

   table{
    margin-left: 750px;
   }

   p, button{

    margin-left: 850px;
   }